@tailwind base;
@tailwind components;
@tailwind utilities;


/* Dark mode colors. */
:root {
  --sl-color-accent-low: #222615;
  --sl-color-accent: #829735;
  /* --sl-color-accent: #829735; */
  --sl-color-accent-high: #829735;
  /* --sl-color-accent-high: #8d8838; */

  --sl-color-white: #ffffff;
  --sl-color-gray-1: #f4f7f3;
  --sl-color-gray-2: #eaf0e8;
  --sl-color-gray-3: #82907f;
  --sl-color-gray-4: #4f5c4d;
  --sl-color-gray-5: #303c2d;
  --sl-color-gray-6: #0a1608;
  --sl-color-black: #050a03;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #222615;
  --sl-color-accent: #829735;
  --sl-color-accent-high: #2f3619;
  --sl-color-white: #151a13;
  --sl-color-gray-1: #1f2a1c;
  --sl-color-gray-2: #303c2d;
  --sl-color-gray-3: #4f5c4d;
  --sl-color-gray-4: #82907f;
  --sl-color-gray-5: #bdc4bb;
  --sl-color-gray-6: #eaf0e8;
  --sl-color-gray-7: #f4f7f3;
  --sl-color-black: #ffffff;
}

:root {
  --ir-color-primary:#829735;
  --ir-color-secondary: #985d3b;
}

code {
  max-height: max(62vh, 512px) !important;
}

code[dir="auto"]{
  font-size: .85em;
  /* font-weight: normal; */
  line-height: 1em;
}

.fig {
  font-size: 1.2em;
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique;
  line-height: 1em;
}

.gitStars {
  white-space:nowrap;
  border:solid 1px var(--ir-color-primary);
  border-radius: 7px;
  height: 2rem;
}

.gitStars a {
  color: var(--ir-color-primary);
  font-size: 0.95rem;
  text-decoration: none;
  display: flex;
  padding-right: 7px;
  align-items: center;
  cursor: pointer;
}

.gitStars a span{
  position: relative; 
  top: 1px;
}

.gitStars svg {
  color: var(--ir-color-primary);
  font-size: 1em;
  width: 1em;
  height: 1em;
  margin: 7px 14px 7px 7px;
}

.gitStars svg::after,
.gitStars svg::before {
 border-width: 0;
 border-style: solid;
 border-color: #eaf0e8;
}

.sub-heading {
  color: var(--ir-color-secondary)
}

/*
.action a,
.sl-markdown-content a:not(:where(.not-content *)) { */
a {
  font-weight: 500;
}

main a {
  font-weight: 600;
}

h1,
h2 {
  color: var(--sl-color-accent) !important;
}

h1.astro-j6tvhyss {
  margin-top: 1.6ex;
}

@media (min-width: 50rem) {
  body .hero:where(.astro-jbfsktt5) {
    padding-block-start: clamp(1px,  calc(5vmin - 1.5rem), 8rem);
    padding-block-end: clamp(2.5rem, calc(1rem + 10vmin), 8rem);
  }
}

@media (max-width: 799px) {
    .md\:grid-cols-3 {
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }
}

@media (min-width: 800px) {
    .md\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

.hero h1 {
  font-family: 'Audiowide', sans-serif;
  font-style: normal;
  font-weight: 400;
  /* font-size: clamp(3.5rem, calc(0.45rem + 5vw), 6rem); */
  font-size: clamp(2.5rem, calc(0.45rem + 5vw), 4.rem);
  /* letter-spacing: .5rem; */
  margin-top: 6.4rem;
}

@media screen and (max-width: 799px) {
  .hero h1 {
    margin-top: 1rem
  }
}

.hero img {
  margin: -1rem auto -2rem;
}

.tagline {
  color: var(--ir-color-secondary);
  font-weight: 500;
  font-size: clamp(var(--sl-text-2xl), calc(0.0625rem + 3vw), 1.6rem);
  letter-spacing: -0.01rem;
  margin: -1rem 0 2.6rem;
}

.minimal.astro-yjy4zhro {
  color: var(--ir-color-secondary);
}

.action {
  letter-spacing: 0.04rem;
}

.secondary {
  color: var(--ir-color-secondary);
}

button.buy {
  /* background-color: var(--sl-color-gray-5); */
  background-color: var(--ir-color-primary);
  border-color: var(--ir-color-primary);
  opacity: 0.9;
  font-weight: 600;
  letter-spacing: .05rem
}

button.buy-highlight {
  background-color: var(--ir-color-primary);
  opacity: 1;
}

button.buy:hover {
  cursor: pointer;
  opacity: .8;
  /* color: var(--sl-color-black); */
}

#priceGrid ul {
  padding: 0;
  list-style-type: none;
}

#priceGrid li {
  padding: 0;
  margin: 0 0 2px;
}

#priceGrid li p {
  padding: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

#priceGrid svg {
    float: left;
    position: relative;
    top: 5px;
    margin-bottom: 0;
}

.astro-j6tvhyss {
  text-align: center !important;
}

.page:where(.astro-vrdttmbt) {
    min-height: calc(100vh - 212px);
}

label:where(.astro-4yphtoen) {
  color: var(--sl-color-accent);
}
label:where(.astro-4yphtoen) select {
  margin: 1px 0 0 1rem;
  font-size: var(--sl-text-base);
  font-weight: 600;
}

label:where(.astro-4yphtoen) svg {
  width: 1.5em;
  height: 1.5em;
  margin-top: 1px;
}

.content-panel {
  border-color: transparent;
  border: 0 !important;
  padding-bottom: 0;
}

table td svg{
  margin-left: auto !important;
  margin-right: auto !important;
}

.args,
.option {
  font-style: italic;
  font-weight: 200;
  padding:0 0.25rem 0 0.05rem;
}

body {
  letter-spacing: 0.02rem;
}

body a {
  letter-spacing: 0.03rem;
}

body h1,
body h2,
body h3{
  letter-spacing: 0.01rem;
}


.feelback-container {
    margin: -2rem auto;
    --max-width: 400px !important;
    position: relative;
    top: 1.2rem;
}

.feelback-text {
  font-weight: 600;
  color: var(--sl-color-gray-2);
}

.feelback-container [data-feelback-type="button-group"] .feelback-btn {
    border-radius: 100%;
    margin-top: -0.1rem;
}

.feelback-container
    [data-feelback-type="button-group"]
    .feelback-btn.active {
    color: var(--sl-color-text-invert);
    background-color: var(--sl-color-text-accent);
}

.feelback-container textarea,
.feelback-container input[type="text"],
.feelback-container input[type="email"] {
    border-radius: 0.5rem;
    border: 1px solid var(--sl-color-gray-5);
}

.feelback-container textarea:hover,
.feelback-container input[type="text"]:hover,
.feelback-container input[type="email"]:hover {
    border: 1px solid var(--sl-color-gray-2);
}

.feelback-container .feelback-btn[type="submit"] {
    border-radius: 0.5rem;
    padding: 1.25rem 2rem;
    color: var(--sl-color-text-invert);
    background-color: var(--sl-color-text-accent);
    font-weight: bold;
}
.feelback-container .feelback-btn[type="submit"]:hover {
    background-color: hsl(var(--sl-hue-accent), 80%, 70%);
}
