@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark mode colors. */
:root {
  --sl-color-accent-low: #222615;
  --sl-color-accent: #889e37;
  --sl-color-accent-high: #889e37;
  /* --sl-color-accent-high: #8d8838; */

  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eaf0e8;
  --sl-color-gray-2: #bdc4bb;
  --sl-color-gray-3: #82907f;
  --sl-color-gray-4: #4f5c4d;
  --sl-color-gray-5: #303c2d;
  --sl-color-gray-6: #0a1608;
  --sl-color-black: #050a03;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #222615;
  --sl-color-accent: #889e37;
  --sl-color-accent-high: #2f3619;
  --sl-color-white: #151a13;
  --sl-color-gray-1: #1f2a1c;
  --sl-color-gray-2: #303c2d;
  --sl-color-gray-3: #4f5c4d;
  --sl-color-gray-4: #82907f;
  --sl-color-gray-5: #bdc4bb;
  --sl-color-gray-6: #eaf0e8;
  --sl-color-gray-7: #f4f7f3;
  --sl-color-black: #ffffff;
}

/*
.action a,
.sl-markdown-content a:not(:where(.not-content *)) { */
a {
  font-weight: 500;
}

h1,
h2 {
  color: var(--sl-color-accent) !important;
}

.hero h1 {
  font-size: clamp(3.5rem, calc(0.45rem + 5vw), 6rem);
}

.tagline {
  /* color: #985d3b; */
  font-weight: 500;
  font-size: clamp(var(--sl-text-2xl), calc(0.0625rem + 3vw), 1.6rem);
  margin: -0.6rem 0 0.6rem;
}

.hero img {
  margin: -1rem auto -2rem;
}

#priceGrid ul {
  padding: 0;
  list-style-type: none;
}

#priceGrid li {
  padding: 0;
  margin: 0 0 2px;
}

#priceGrid li p {
  padding: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

#priceGrid svg {
    float: left;
    position: relative;
    top: 5px;
}

#priceGrid .button {
  margin-top: -16px !important;
}

.content-panel {
  border-color: transparent;
  border: 0 !important;
  padding-bottom: 0;
}