---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';

import "../styles/global.css";
import "../styles/tailwind.css";
import "../styles/theme.css";
import "../styles/utils.css";

export const title = 'Commercial Software License Agreement';
export const description = 'Software License Agreement for iframe-resizer.';

const headings =  [
  { depth:2, slug: '1', text: '1. Definitions'},
  { depth:2, slug: '2', text: '2. Commercial license grant'},
  { depth:2, slug: '3', text: '3. Ownership'},
  { depth:2, slug: '4', text: '4. Prohibited Uses'},
  { depth:2, slug: '5', text: '5. Termination'},
  { depth:2, slug: '6', text: '6. Disclaimer of Warranties'},
  { depth:2, slug: '7', text: '7. Limitation of Liabilities'},
  { depth:2, slug: '8', text: '8. Indemnification'},
  { depth:2, slug: '9', text: '9. Payment and Taxes'},
  { depth:2, slug: '10', text: '10. Refund'},
  { depth:2, slug: '11', text: '11. License Key'},
  { depth:2, slug: '12', text: '12. Maintenance and Support'},
  { depth:2, slug: '13', text: '13. Saas / OEM'},
  { depth:2, slug: '14', text: '14. Miscellaneous'},
]
---

<StarlightPage frontmatter={{ title, description }}  hasSidebar={false} headings={headings}>
  <p>
    This Software License Agreement (the “Agreement”) is between David J. Bradshaw (“DJB”) 
    and You (including your agents and affiliates), a commercial licensee of DJB's software. 
    If you have not purchased an iframe-resizer commercial license from iframe-resizer.com, 
    these terms do not apply to you, and your use of the DJB's software is instead governed
     by the GNU General Public License, version 3.
  </p>

  <h2 id="1">1. Definitions</h2>
  <p>
    <b>“Application”</b> means any software, application, or elements that Your Licensed Developers 
    develop using the Software or Modifications in accordance with this Agreement.<br/>
    <b>“End User”</b> means an end user of Your Application who acquires a license to such solely 
    for their own use and not for distribution, resale, user interface design, or software 
    development purposes.<br/>
    <b>“Website”</b> means a page or group of pages within a single domain name.<br/>
    <b>“Licensed Developer”</b> shall mean an individual person permitted to use the Software and 
    make Modifications for your Applications, whether such person is Your employee or a consultant 
    or contractor providing services to You.<br/>
    <b>“Modification”</b> means any revision, adaptation, or derivative of the Software produced 
    by You.<br/>
    The <b>“Software”</b> means <b>iframe-resizer</b>, including all updates thereto and major 
    versions thereof.<br/>
  </p>
  

  <h2 id="2"> 2. Commercial license grant</h2>
  <p>
    Subject to the terms of this Agreement, DJB grants to You a revocable, non-exclusive, 
    non-transferable license, based on the level of license purchased: 
  </p>
  <p>
    <b>Solo:</b> for one (1) Licensed Developer to use the Software on a single Website with 
    iframes contained on the same domain.
    <br />
    <b>Professional:</b> for up to eight (8) Licensed Developer(s) use the Software on up to eight (8)  
    Websites with iframes on the same domain and/or one or more external domains.
    <br />
    <b>Business:</b> for unlimited Licensed Developer(s) to use the Software to on multiple Websites 
    and/or Applications containing same and/or external domain iframes. This includes the right to 
    use the Software to create plugin components for use on external Websites.
  </p>
  <p>
    No permission is granted to distribute the Software and/or Modifications within downloadable or 
    installable software; and (iii) for End Users to use the Software as incorporated into Your 
    Applications in accordance with the terms of this Agreement.
  </p>
  <p>
    You are entitled to receive all updates to the major version of the Software licensed by you, 
    as well as any later version of the Software that DJB, in writing, explicitly authorises you 
    to use. DJB makes no representation that any update will be compatible with your Application.
  </p>

  <h2 id="3"> 3. Ownership</h2>
  <p>
    This is a license agreement and not an agreement for sale. DJB reserves ownership of all 
    intellectual property rights inherent in or relating to the Software and corresponding 
    source code, which include all copyright, patent rights, all rights in relation to registered 
    and unregistered trademarks (including service marks), confidential information (including 
    trade secrets and know-how) and all rights other than those expressly granted by this Agreement.
  </p>
  <p>
    You must not remove, obscure or interfere with any copyright, acknowledgment, attribution, 
    trademark, warning or disclaimer statement affixed to, incorporated in or otherwise applied 
    in connection with the Software. Notwithstanding the above, you are permitted to produce, 
    use, and distribute compressed or “minified” copies of the Software that do not bear the 
    notices contained in the Software’s source code, so long as you otherwise comply with the 
    terms of this license.
  </p>

  <h2 id="4"> 4. Prohibited Uses</h2>
  <p>
    Your Application must have substantially different functionality than, and must not compete 
    directly with, the Software.
  </p>
  <p>
        You may not distribute the Software or Modifications. Even when included within your 
        application.
  </p>
  <p>
        If You produce an Application for a customer, You are responsible for ensuring that 
        your customer does not make use of the Software except with Applications licensed herein.
  </p>
  <p>
    Your Application must not enable End Users to produce separate applications that incorporate 
    the Software or Modifications. For example, if Your Application is a development toolkit or 
    library, an application builder, a website builder that can be used to incorporate the Software 
    into a new Application, You must obtain a separate OEM license from DJB.
  </p>

  <h2 id="5"> 5. Termination</h2>
  <p>
    This Agreement and the license granted hereunder shall continue until terminated in accordance 
    with this Section. Unless otherwise specified in this Agreement, the license shall last as long 
    as Your use of the Software is in compliance with the terms herein.
  </p>
  <p>
    Each party shall have the right to terminate this Agreement and the license granted hereunder 
    with notice if the other party breaches any of the material terms of this Agreement, and such 
    party fails to cure such material breach within thirty (30) days of receipt of notice from the 
    non-breaching party. Upon termination of this Agreement, all licenses granted to You in this 
    Agreement shall terminate automatically and You shall immediately cease use and distribution of 
    the Software.
  </p>
  <p>
    Upon termination of this Agreement, You must cease all use of the Software. If, prior to your 
    breach of this Agreement, you delivered Applications incorporating the Software to Your End 
    Users, those End Users’ licenses shall survive termination.
  </p>

  <h2 id="6"> 6. Disclaimer of Warranties</h2>
  <p>
    <b>TO THE EXTENT PERMITTED BY LAW, DJB DISCLAIMS ALL WARRANTIES AND CONDITIONS, EITHER 
      EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, 
      FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT, WITH REGARD TO THE SOFTWARE. 
      WE DO NOT GUARANTEE THAT THE OPERATION OF THE SOFTWARE OR YOUR APPLICATION WILL BE 
      UNINTERRUPTED OR ERROR-FREE, AND YOU ACKNOWLEDGE THAT IT IS NOT TECHNICALLY PRACTICABLE 
      FOR US TO DO SO.</b>
  </p>

  <h2 id="7"> 7. Limitation of Liabilities</h2>
  <p>
    <b>TO THE EXTENT PERMITTED BY LAW, IN NO EVENT SHALL DJB BE LIABLE UNDER ANY LEGAL OR 
      EQUITABLE THEORY FOR ANY SPECIAL, INCIDENTAL, INDIRECT OR CONSEQUENTIAL DAMAGES WHATSOEVER 
      (INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF BUSINESS PROFITS, BUSINESS INTERRUPTION, 
      LOSS OF BUSINESS INFORMATION, OR ANY OTHER PECUNIARY LAW) ARISING OUT OF THE USE OF OR 
      INABILITY TO USE THE SOFTWARE OR THE CODE IT PRODUCES OR ANY OTHER SUBJECT MATTER RELATING 
      TO THIS AGREEMENT, EVEN IF DJB HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IN ANY 
      CASE, DJB’S ENTIRE LIABILITY WITH RESPECT TO ANY SUBJECT MATTER RELATING TO THIS AGREEMENT 
      SHALL BE LIMITED TO THE GREATER OF: (I) THE AMOUNT ACTUALLY PAID BY YOU FOR THE LICENSE, OR 
      (II) FIVE HUNDRED DOLLARS ($500).</b>
  </p>

  <h2 id="8"> 8. Indemnification</h2>
  <p>
    While redistributing the Software or Modifications thereof as part of Your Application, 
    You may choose to offer acceptance of support, warranty, indemnity, or other liability 
    obligations and/or rights consistent with this Agreement. However, in accepting such 
    obligations, You may act only on Your own behalf and on Your sole responsibility, and 
    not on DJB’s behalf.
  </p>
  <p>
    You agree to indemnify, hold harmless, and defend DJB and its owners, officers, agents,
     and affiliates from and against any and all claims, lawsuits and proceedings (collectively 
     “Claims”), and all expenses, costs (including legal fees), judgments, damages and other 
     liabilities resulting from such Claims, that arise or result from: 
     <b>(i)</b> Your use of the Software in violation of this Agreement; 
     <b>(ii)</b> the use or distribution of Your Application,  except to the extent such claim 
     is based solely on the inclusion of the Software therein; 
     <b>(iii)</b> Your Modification of the Software’s source code; or 
     <b>(iv)</b> Your accepting support, warranty, indemnity, or additional liability as described 
     in Section 8.1.
  </p>

  <h2 id="9"> 9. Payment and Taxes</h2>
  <p>
    All payments under this Agreement are due to DJB upon Your purchase of a license to the Software.
  </p>
  <p>
    Fees will be paid in advance and End User will have permanent access to the major version of 
    the Software.
  </p>
  <p>
    Each party shall be responsible for all taxes (including, but not limited to, taxes based upon 
    its income) or levies imposed on it under applicable laws, regulations and tax treaties as a 
    result of this Agreement and any payments made hereunder (including those required to be 
    withheld or deducted from payments); provided that You shall be responsible for any value 
    added tax, use tax, sales tax, or similar tax, and shall pay or reimburse DJB for the same 
    upon invoice.
  </p>

  <h2 id="10"> 10. Refund</h2>
  <p>
    No refunds are offered. You can of course try iframe-resizer before purchasing the license, 
    making sure that it fits your requirements. So please make sure to do so before the purchase.
  </p>

  <h2 id="11"> 11. License Key</h2>
  <p>
    DJB will provide you with a License Key with each purchase.
  </p>

  <h2 id="12"> 12. Maintenance and Support</h2>
  <p>
    During the term of this agreement, Licensee who uses a license with basic technical support 
    included has access to the Software's online support services via the project's GitHub issues 
    forum, which means that Licensee will get answers to technical questions with no guarantee of 
    solving the issue and whenever we can provide them.
  </p>
  <p>
    If Licensee benefits of Premium Support (Business License) he will be able to ask through email,
    phone or zoom and he will get answers within three (3) business days and issues reported by him 
    will have higher priority.
  </p>
  <p>
    Support shall refer only to Software's source code, integration questions related to the 
    Software's API and documentation clarification. Support does not include questions related 
    to other programming languages or frameworks.
  </p>
  <p>
    Under no circumstances is DJB compelled to fix Software's bugs, to perform custom development 
    or to write code for the Licensee.
  </p>
  <p>
    An isolated reproduction might be required upon request. This is, a reproduction of the 
    scenario with the less minimum external code.
  </p>
  <p>
    If Licensee's support period has ended, Licensee may opt to extend the support period either 
    by (i) renewing the license (purchasing the same type of license) within one (1) month of the 
    expiration date, in which case Licensee receives a 50% discount, or by (ii) purchasing a 
    different license that includes support, in which case the discount is not applicable.
  </p>

  <h2 id="13"> 13. SaaS / OEM</h2>
  <p>
    Licensee is not allowed to use the Software in SaaS or Subscription products. You must obtain 
    a separate OEM license from DJB. Contact us for more information.
  </p>
  <p>
    <b>SaaS:</b> shall mean a software licensing and delivery model in which software is licensed 
    on a subscription basis and is centrally hosted;
    <br />
    <b>SaaS Marketplace:</b> shall mean a Marketplace that either (i) offers features to one or 
    more of the parties or (ii) uses a software component to monetise the transaction through a 
    transaction fee or a subscription.
    <br />
    <b>OEM:</b> shall mean when the software requires on-premise installation.
  </p>

  <h2 id="14"> 14. Miscellaneous</h2>
  <p>
    <b>Software Updates and Upgrades:</b> The license granted herein applies only to the version 
    of the Software available when purchased in connection with the terms of this Agreement, and 
    to any updates and/or upgrades to which You may be entitled. Any previous or subsequent license 
    granted to You for use of the Software shall be governed by the terms and conditions of the 
    agreement entered in connection with purchase or download of that version of the Software.
    <br />
    <b>Survival:</b> The provisions of sections 4 through 10 will survive termination of this 
    Agreement.
    <br />
    <b>Compliance with Applicable Laws:</b> You agree that You will comply with all applicable 
    laws and regulations with respect to the Software, including without limitation all export 
    control laws and regulations.
    <br />
    <b>Marketing:</b> You agree to DJB’s use of Your name, trade name, and trademark, for use 
    in DJB’s marketing materials and its website, solely to identify you as a customer of DJB.
    <br />
    <b>Assignment:</b> This Agreement may be assigned by DJB in whole or in part and will inure 
    to the benefit of DJB’s successors and assigns. You may not assign or transfer this Agreement 
    without DJB’s prior written consent. Notwithstanding the foregoing, however, if You transfer 
    ownership of an Application to a customer for which it was developed, You may assign this 
    Agreement to that customer (the “Assignee”) provided there is a written agreement, wherein 
    the Assignee accepts the terms of this Agreement.
    <br />
    <b>Entire Agreement:</b> The terms and conditions stated herein set forth the entire agreement 
    of the parties and replace and supersede all other contracts, agreements, and understandings, 
    written or oral, relating to the subject matter hereof.
    <br />
    <b>Severability:</b> In the event that any portion of this Agreement is held to be 
    unenforceable, such portions shall not limit or otherwise modify or affect any other portion 
    of this Agreement.
    <br />
    <b>Modification; Waiver:</b> This Agreement cannot be amended except by a written instrument
     executed by each of the parties. The failure of either party to enforce any provision of this 
     Agreement may not be deemed a waiver of that or any other provision of this Agreement.
    <br />
    <b>Governing Law:</b> This Agreement, and any dispute arising out of or in connection with this 
    Agreement, shall be governed by and construed in accordance with the laws of England & Wales.
  </p>

</StarlightPage>
