---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro'
import { Tabs, TabItem } from "@astrojs/starlight/components";

import JS from '../components/js-parent.astro'

const title = 'Examples'
---


<StarlightPage frontmatter={{ title }} >
  <style>
     iframe {
      width: 100%; 
      border: 3px inset
    }

    iframe#horizontal {
      height: 193px;
      width: 200px ;
      border: 0 none
    }
  </style>

  <p>
    This page contains examples of <i>iframe-resizer</i> working with various different 
    types of content, which can make detecting the content changing and calculating the 
    size of the iframe challenging.
  </p>
  <p>
    To overcome this <i>iframe-resizer</i> has a number of of methods to both detect 
    content changes and calculate the size of the iframe. Each time the content changes,
    the most appropriate method is selected to calculate the new iframe size.
  </p>

  <Tabs>
    <TabItem label="Vertical">
      <iframe 
        id="vertical"
        class="vertical"
        src="/examples/animate"
        style="height: 432px;max-height:800px"
        title="Vertical Example">
      </iframe>
    </TabItem>
    <TabItem label="Horizontal">
      <iframe 
        id="horizontal"
        src="/examples/horizontal" 
        title="Horizontal Example">
      </iframe>
    </TabItem>
    <TabItem label="TextArea">
      <iframe 
        id="textarea"
        class="vertical"
        src="/examples/textarea" 
        title="TextArea Example">
      </iframe>
    </TabItem>
    <TabItem label="Hover">
      <iframe
        id="hover"
        class="vertical"
        src="/examples/hover" 
        title="Hover Example">
      </iframe>
    </TabItem>
    <!-- <TabItem label="Footer">
      <iframe 
        id="footer"
        class="vertical"
        src="/examples/footer" 
        title="Footer Example">
      </iframe>
    </TabItem> -->
    <!-- TabItem label="Nested">
      <iframe 
        id="nested"
        class="vertical"
        src="/examples/nested" 
        title="Nested Example">
      </iframe>
    </TabItem -->
  </Tabs>

</StarlightPage>

<JS/>
