---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';

const title = 'iframe-resizer';
const template = 'splash';

const hero = {
  tagline: 'Keep same and cross domain iframes sized to their content',
  image: {
    file: {
      src: '/src/assets/logo.svg',
      format: 'svg',
      width: 120,
      height: 120,
    },
  },
  actions: [{
   text: 'Get Started',
    link: 'introduction',
    icon: 'right-arrow',
    variant: 'primary',
  },{
    text: 'View on GitHub',
    link: 'https://github.com/davidjbradshaw/iframe-resizer',
    icon: 'external',
  }]
}

---

<StarlightPage frontmatter={{ title, template, hero }}  hasSidebar={false}>

</StarlightPage>

<footer id="mainFooter" class="text-white p-6 md:p-8 lg:p-10" style="background-color: #985d3b">
  <div class="container max-w-7xl mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-6 sm:gap-8 md:gap-10">
    <div class="flex flex-col gap-2">
      <h4 class="text-lg font-semibold">Legal</h4>
      <a class="text-sm hover:underline text-white" href="/privacy">
        Privacy Policy
      </a>
      <a class="text-sm hover:underline text-white" href="/terms">
        Terms and Conditions
      </a>
    </div>
    <div class="flex flex-col gap-2">
      <h4 class="text-lg font-semibold">Licenses</h4>
      <a class="text-sm hover:underline text-white" href="/commercial">
        Commercial License
      </a>
      <a class="text-sm hover:underline text-white" href="/gpl">
        Open Source License
      </a>
    </div>
    <div class="flex flex-col gap-2">
      <h4 class="text-lg font-semibold">Contact</h4>
      <a class="text-sm hover:underline text-white" href="/contact">
        Contact Us
      </a>
    </div>
  </div>
  <div class="container max-w-7xl mx-auto mt-8 sm:mt-10 md:mt-12 text-sm text-gray-200">
    &copy; 2024 David J. Bradshaw. All rights reserved.
  </div>
</footer>

