---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import Feedback from '../components/Feedback.astro';
import Footer from '../components/Footer.astro';
import logo from '../assets/logo-home.svg';

export const title = 'IFRAME-RESIZER';
export const description = 'Keep iframes sized to their content';
const template = 'splash';

const hero = {
  tagline: 'Keep iframes sized to their content',
  image: {
    file: logo,
  },
  actions: [{
    text: 'Get Started',
    link: 'introduction',
    icon: 'right-arrow',
    variant: 'primary',
  },{
    text: 'View on GitHub',
    link: 'https://github.com/davidjbradshaw/iframe-resizer',
    icon: 'external',
  }]
}

---

<StarlightPage frontmatter={{ title, description, template, hero }}  hasSidebar={false}>

<section class="w-full">
  <div id="features" class="container grid grid-cols-1 md:grid-cols-3 gap-6" style="max-width:100%">
    
    <div class="flex flex-col items-start justify-between rounded-lg border p-6 shadow-sm transition-all hover:shadow-md dark:border-gray-800 dark:bg-gray-950 dark:hover:shadow-lg" style="margin-top:0;background-color: var( --sl-color-bg-nav)">
      <div>
        <h2 class="font-bold" style="font-size: var(--sl-text-h3">Automatic Resizing</h2>
        <p class="text-gray-500 dark:text-gray-100">
          Automatically works out the optimal strategy to calculate the page dimensions, every time your content changes size.
        </p>
      </div>
      <a
        class="w-full mt-6 no-underline inline-flex h-9 items-center justify-center rounded-md bg-white hover:bg-white px-4 text-m font-bold text-gray-50 shadow transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-gray-950 disabled:pointer-events-none  dark:focus-visible:ring-gray-300"
        href="/introduction"
      >
        About&nbsp;<i>iframe-resizer</i> 
      </a>
    </div>

    <div class="flex flex-col items-start justify-between rounded-lg border p-6 shadow-sm transition-all hover:shadow-md dark:border-gray-800 dark:bg-gray-950 dark:hover:shadow-lg" style="margin-top:0;background-color: var( --sl-color-bg-nav)">
      <div>
        <h2 class="font-bold" style="font-size: var(--sl-text-h3">Cross-Domain</h2>
        <p class="text-gray-500 dark:text-gray-400">
          Supports external (cross-domain) iframes via a simple JS file that is designed to be a zero impact guest on the sites hosting it.
        </p>
      </div>
      <a
        class="w-full mt-6 no-underline inline-flex h-9 items-center justify-center rounded-md bg-white hover:bg-white px-4 text-m font-bold text-gray-50 shadow transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-gray-950 disabled:pointer-events-none  dark:focus-visible:ring-gray-300"
        href="/setup/parent"
      >
        Quick Start Guide
      </a>
    </div>

    <div class="flex flex-col items-start justify-between rounded-lg border p-6 shadow-sm transition-all hover:shadow-md dark:border-gray-800 dark:bg-gray-950 dark:hover:shadow-lg" style="margin-top:0;background-color: var( --sl-color-bg-nav)">
      <div>
        <h2 class="font-bold" style="font-size: var(--sl-text-h3">Extended API</h2>
        <p class="text-gray-500 dark:text-gray-700">Provides a range of missing browser API features, that allows you to securely integrate your iframe content with the parent page.</p>
      </div>
      <a
        class="w-full mt-6 no-underline inline-flex h-9 items-center justify-center rounded-md bg-white hover:bg-white px-4 text-m font-bold text-gray-50 shadow transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-gray-950 disabled:pointer-events-none  dark:focus-visible:ring-gray-300"
        href="/api"
      >
        API Docs
      </a>
    </div>


  <!--
    <div class="flex flex-col items-start justify-between rounded-lg border p-6 shadow-sm transition-all hover:shadow-md dark:border-gray-800 dark:bg-gray-950 dark:hover:shadow-lg" style="margin-top:0;background-color: var( --sl-color-bg-nav)">
      <div>
        <h2 class="font-bold" style="font-size: var(--sl-text-h3">High Performance</h2>
        <p class="text-gray-500 dark:text-gray-100">
          Automatically works out the optimal strategy to calculate the page dimensions, every time your content changes size.
        </p>
      </div>
      <a
        class="w-full mt-6 no-underline inline-flex h-9 items-center justify-center rounded-md bg-white hover:bg-white px-4 text-m font-bold text-gray-50 shadow transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-gray-950 disabled:pointer-events-none  dark:focus-visible:ring-gray-300"
        href="/introduction#high-performance"
      >
        Performance 
      </a>
    </div>
  -->

    <div class="flex flex-col items-start justify-between rounded-lg border p-6 shadow-sm transition-all hover:shadow-md dark:border-gray-800 dark:bg-gray-950 dark:hover:shadow-lg" style="margin-top:0;background-color: var( --sl-color-bg-nav)">
      <div>
        <h2 class="font-bold" style="font-size: var(--sl-text-h3">Frameworks</h2>
        <p class="text-gray-500 dark:text-gray-100">
          Works with 
          <a style="border-width:0;background-color: var( --sl-color-bg-nav) !important" href="/frameworks/react">React</a>, 
          <a style="border-width:0;background-color: var( --sl-color-bg-nav) !important" href="/frameworks/vue3">Vue</a>, 
          <a style="border-width:0;background-color: var( --sl-color-bg-nav) !important" href="/frameworks/angular">Angular</a> and 
          <a style="border-width:0;background-color: var( --sl-color-bg-nav) !important" href="/frameworks/jquery">jQuery</a>. 
          Plus <i>iframe-resizer</i> provides an API for generating your own <!--platform--> components.
        </p>
      </div>
      <a
        class="w-full mt-6 no-underline inline-flex h-9 items-center justify-center rounded-md bg-white hover:bg-white px-4 text-m font-bold text-gray-50 shadow transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-gray-950 disabled:pointer-events-none  dark:focus-visible:ring-gray-300"
        href="/frameworks"
      >
        Frameworks Guide
      </a>
    </div>

    <div class="flex flex-col items-start justify-between rounded-lg border p-6 shadow-sm transition-all hover:shadow-md dark:border-gray-800 dark:bg-gray-950 dark:hover:shadow-lg" style="margin-top:0;background-color: var( --sl-color-bg-nav)">
      <div>
        <h2 class="font-bold" style="font-size: var(--sl-text-h3">Wordpress</h2>
        <p class="text-gray-500 dark:text-gray-100">
          <i>iframe-resizer</i> is simple to setup and use with WordPress.
        </p>
      </div>
      <a
        class="w-full mt-6 no-underline inline-flex h-9 items-center justify-center rounded-md bg-white hover:bg-white px-4 text-m font-bold text-gray-50 shadow transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-gray-950 disabled:pointer-events-none  dark:focus-visible:ring-gray-300"
        href="/guides/wordpress"
      >
        Wordpress Guide
      </a>
    </div>

    <div class="flex flex-col items-start justify-between rounded-lg border p-6 shadow-sm transition-all hover:shadow-md dark:border-gray-800 dark:bg-gray-950 dark:hover:shadow-lg" style="margin-top:0;background-color: var( --sl-color-bg-nav)">
      <div>
        <h2 class="font-bold" style="font-size: var(--sl-text-h3">Accessible</h2>
        <p class="text-gray-500 dark:text-gray-100">
          Automatically configures iframes to maximise accessibility compatibility and compliance.
        </p>
      </div>
      <a
        class="w-full mt-6 no-underline inline-flex h-9 items-center justify-center rounded-md bg-white hover:bg-white px-4 text-m font-bold text-gray-50 shadow transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-gray-950 disabled:pointer-events-none  dark:focus-visible:ring-gray-300"
        href="/accessibility"
      >
        Accessibility 
      </a>
    </div>

    <!--
    <div class="flex flex-col items-start justify-between rounded-lg border p-6 shadow-sm transition-all hover:shadow-md dark:border-gray-800 dark:bg-gray-950 dark:hover:shadow-lg" style="margin-top:0;background-color: var( --sl-color-bg-nav)">
      <div>
        <h2 class="font-bold" style="font-size: var(--sl-text-h3">Easy Upgrade</h2>
        <p class="text-gray-500 dark:text-gray-100">
          Version 5 is largely a drop in replacement for version 4, and will provide guidance where the API has changed.
        </p>
      </div>
      <a
        class="w-full mt-6 no-underline inline-flex h-9 items-center justify-center rounded-md bg-white hover:bg-white px-4 text-m font-bold text-gray-50 shadow transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-gray-950 disabled:pointer-events-none  dark:focus-visible:ring-gray-300"
        href="/upgrade"
      >
        Upgrade Guide
      </a>
    </div>
    -->

  </div>
</section>

<style>
  a {
    background-color: var(--sl-color-bg) !important;
    border-color: var(--ir-color-primary);
    border-width: 1px;
    color: var(--ir-color-primary);
    letter-spacing: 0.05em;
  }

  a:hover {
    color: var(--ir-color-primary) !important;
    opacity: 0.85;
  }

  p {
    color: var(--sl-color-gray-2) !important;
  }

</style>


  <style>

    #feedback {
      margin-top: 7ex;
    }

    #feedback h2 {
      margin: 5ex auto 0;
      text-align: center;
    }

    #feedback h3 {
      margin: 0;
      font-size: .1rem !important;
      font-family: var(--font-inter), sans-serif;
    }

    
  </style>

  <section id="feedback">
    <h2 class="text-3xl font-bold  sm:text-4xl md:text-5xl">Feedback on iframe-resizer</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 p-4 md:p-6">
      <Feedback initial="JS" name="Johan Stuyts">Improved the user experience a lot. Very happy with it.</Feedback>
      <Feedback initial="J" name="Jason">Epic library for a critical website need! Thanks for making this available!</Feedback>
      <Feedback initial="WL" name="Warpstream Labs" contact="@warpstreamlabs">Saved me a ton of time fiddling with iframe resizing, thank you.</Feedback>
      <Feedback initial="J" name="Jack">Thank you for all your hard work! I was asked to embed a site I'd created into someone else's Wordpress site and this made it possible.</Feedback>
      <Feedback initial="DM" name="Darvin Martin">iframe-resizer library was super-helpful! And the documentation was easy enough for a beginner like myself. Thank you!</Feedback>
      <Feedback initial="A" name="A Hueller">Your great iframe resizer "toolkit" saved my day already several times & always worked perfectly with just a few lines of code. Keep up the good work!</Feedback>
      <Feedback initial="CB" name="claw_slaw_bibbly_bop">I rolled my own for some of these features before I came across your lib. Thanks for your work. </Feedback>
      <Feedback initial="AP" name="Adam Pitzele">After finding this project and verifying how well it works, it really made my day. Much appreciated!</Feedback>
      <Feedback initial="LM" name="Laurence Martinier">Nasty problem to solve, your solution took 5 minutes to implement, zero pain. Much love.</Feedback>
      <Feedback initial="JR" name="J Rockowitz">You made it easy for me to share Drupal Webforms on any website, webpage, or application. Thanks.</Feedback>
      <Feedback initial="M" name="Maureen">Great work. Have been using this for years always with success!</Feedback>
      <Feedback initial="D" name="Dark">Needed last minute resizing, your lib and instructions did the trick.</Feedback>
    </div>
  </section>

</StarlightPage>

<Footer/>
