---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';

const title = 'Pricing for iframe-resizer';
const template = 'splash';
---

<StarlightPage frontmatter={{ title, template }}  hasSidebar={false}>

  <div class="text-center" style="font-weight:500;font-size:1.2rem;margin: -2ex 0 3ex">Find the right license for your project.</div>

  <div id="priceGrid" class="grid grid-cols-1 md:grid-cols-3 gap-6 max-w-6xl mx-auto px-4">
    <div class="bg-white rounded-lg shadow-lg dark:bg-gray-950 border-2 border-primary" style="background-color: transparent;">
      <div class="p-6 border-b border-gray-200 dark:border-gray-800">
        <h3 class="text-2xl font-bold">Basic</h3>
        <div class="flex items-baseline my-4">
          <span class="text-4xl font-bold">$36</span>
        </div>
        <ul class="space-y-2">
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-5 h-5 inline-block mr-2 text-green-500"
            >
              <path d="M20 6 9 17l-5-5"></path>
            </svg>
            Same Domain
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-5 h-5 inline-block mr-2 text-green-500"
            >
              <path d="M20 6 9 17l-5-5"></path>
            </svg>
            For 1 developer
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-5 h-5 inline-block mr-2 text-green-500"
            >
              <path d="M20 6 9 17l-5-5"></path>
            </svg>
            For 1 website
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-5 h-5 inline-block mr-2 text-green-500"
            >
              <path d="M20 6 9 17l-5-5"></path>
            </svg>
            Basic Github support only
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-5 h-5 inline-block mr-2 text-green-500"
            >
            </svg> 
            __ 
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-5 h-5 inline-block mr-2 text-green-500"
            >
            </svg> 
            __ 
          </li>
        </ul>
      </div>
      <div class="p-6" style="margin:0">
        <button class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 w-full">
          Buy Now
        </button>
        <a style="font-weight:600" class="block text-center text-sm mt-2 underline" href="/commercial">
          License Agreement
        </a>
      </div>
    </div>
    <div class="bg-white rounded-lg shadow-lg dark:bg-gray-950 border-2 border-primary" style="margin-top:0;border-color: var(--sl-color-accent);background-color: transparent;">
      <div class="p-6 border-b border-gray-200 dark:border-gray-800">
        <h3 class="text-2xl font-bold">Professional</h3>
        <div class="flex items-baseline my-4">
          <span class="text-4xl font-bold">$96</span>
        </div>
        
        <ul class="space-y-2">
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-5 h-5 inline-block mr-2 text-green-500"
            >
              <path d="M20 6 9 17l-5-5"></path>
            </svg>
            Cross-Domain
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-5 h-5 inline-block mr-2 text-green-500"
            >
              <path d="M20 6 9 17l-5-5"></path>
            </svg>
            For up to 8 developers
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-5 h-5 inline-block mr-2 text-green-500"
            >
              <path d="M20 6 9 17l-5-5"></path>
            </svg>
            For 1 website
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-5 h-5 inline-block mr-2 text-green-500"
            >
              <path d="M20 6 9 17l-5-5"></path>
            </svg>
            Extended API
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-5 h-5 inline-block mr-2 text-green-500"
            >
              <path d="M20 6 9 17l-5-5"></path>
            </svg>
            Basic Github support only
          </li>
          <li>
            
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-5 h-5 inline-block mr-2 text-green-500"
            >
            </svg> 
            __ 
          </li>
        </ul>
      </div>
      <div class="p-6" style="margin:0">
        <button class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 w-full">
          Buy Now
        </button>
        <a style="font-weight:600" class="block text-center text-sm mt-2 underline" href="/commercial">
          License Agreement
        </a>
      </div>
    </div>
    <div class="bg-white rounded-lg shadow-lg dark:bg-gray-950 border-2 border-primary" style="margin-top:0;background-color: transparent;">
      <div class="p-6 border-b border-gray-200 dark:border-gray-800">
        <h3 class="text-2xl font-bold">Business</h3>
        <div class="flex items-baseline my-4">
          <span class="text-4xl font-bold">$486</span>
        </div>
        <ul class="space-y-2">
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-5 h-5 inline-block mr-2 text-green-500"
            >
              <path d="M20 6 9 17l-5-5"></path>
            </svg>
            Multi-domain
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-5 h-5 inline-block mr-2 text-green-500"
            >
              <path d="M20 6 9 17l-5-5"></path>
            </svg>
            Unlimited developers
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-5 h-5 inline-block mr-2 text-green-500"
            >
              <path d="M20 6 9 17l-5-5"></path>
            </svg>
            Unlimited websites
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-5 h-5 inline-block mr-2 text-green-500"
            >
              <path d="M20 6 9 17l-5-5"></path>
            </svg>
            Extended API
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-5 h-5 inline-block mr-2 text-green-500"
            >
              <path d="M20 6 9 17l-5-5"></path>
            </svg>
            Premium support
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-5 h-5 inline-block mr-2 text-green-500"
            >
              <path d="M20 6 9 17l-5-5"></path>
            </svg>
            Mobile Applications
          </li>
        </ul>
      </div>
      <div class="p-6" style="margin:0">
        <button class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 w-full">
          Buy Now
        </button>
        <a style="font-weight:600" class="block text-center text-sm mt-2 underline" href="/commercial">
          License Agreement
        </a>
      </div>
    </div>
  </div>


  <div class="text-center italic" style="margin:3ex;">All licenses are a one time purchase, and include free updates for the lifetime of version 5. </div>


  <h2  class="text-center">Compare Plans</h2>





</StarlightPage>

