---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import Tick from '../components/Tick.astro';
import NoTick from '../components/NoTick.astro';
import Contact from '../components/Contact.astro';
import Feedback from '../components/Feedback.astro';
import Faq from '../components/Faq.astro';
import Footer from '../components/Footer.astro';

export const title = 'Pricing for iframe-resizer';
export const description = 'Find the right license for your project';
const template = 'splash';

---


<StarlightPage frontmatter={{ title, description, template }}  hasSidebar={false}>
  <script>
    const store = {
      solo: {
        link: 'https://store.iframe-resizer.com/buy/b54bc023-0ef5-4076-a0c7-39e27112ff07',
        value: 16,
      },
      pro: {
        link: 'https://store.iframe-resizer.com/buy/78085a54-ce2d-4571-b188-97b16fe88df5',
        value: 76,
      },
      business: {
        link: 'https://store.iframe-resizer.com/buy/a5ba2b0f-6b7b-49d9-a70a-fe93e33b7586',
        value: 486,
      },
    }

    const cap = (string) =>
      string.charAt(0).toUpperCase() + string.slice(1);

    window.buy = (type) => {
      try {
        window?.fathom?.trackEvent(`Buy: ${cap(type)}`, { _value: store[type].value });
      } catch (e) {
        console.error(e);
      }
      
      location.href = store[type].link
    }
  </script>

  <style>

    .subline {
      height: 0;
      margin-bottom: -0.6rem;
      position: relative;
    }

    .subline > span {
      position: absolute;
      top: -5.65em;
    }

    .pointer {
      cursor: pointer;
    }

    .buy{
      font-size: larger;
    }

    .license {
      font-style: 600;
      letter-spacing: 0.02em;
      position: relative;
      top: 0.25em;
    }

  </style>

  <div class="text-center" style="font-weight:600;font-size:1.2rem;margin: -2ex 0 4ex;color:#985d3b">Find the right license for your project</div>

  <div id="priceGrid" class="grid grid-cols-1 lg:grid-cols-3 gap-4 max-w-6xl mx-auto px-4">
    <div class="rounded-lg shadow-lg dark:bg-gray-950 border-2 border-primary" style="border-color: var(--sl-color-gray-5)">
      <div class="p-6 border-b border-gray-200 dark:border-gray-800" style="border-color: var(--sl-color-gray-5);border-bottom-width:0;padding-bottom: 0.4em">
        <h3 class="text-2xl font-bold">Solo <span class="text-4xl font-bold float-right">$16</span></h3>
        <div class="flex items-baseline my-4  subline">
          <span class="rounded-full font-bold">&nbsp;</span>
        </div>
        <ul class="space-y-2">
          <li>
            <Tick />
            Same Domain
          </li>
          <li>
            <Tick />
            For 1 developer
          </li>
          <li>
            <Tick />
            For 1 website
          </li>
          <li>
            <Tick />
            Local iframes only
          </li>
          <li>
            <Tick />
            Basic Github support only
          </li>
          <li>
            <NoTick/>
            - 
          </li>
          <li>
            <NoTick/>
            - 
          </li>
        </ul>
      </div>
      <div class="p-6" style="margin:0">
        <button onclick="window.buy('solo')" style="color: var(--sl-color-black)" class="buy inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary hover:bg-primary/90 h-10 px-4 py-2 w-full">
          Buy
        </button>
        <a class="license block text-center text-sm mt-2 underline" href="/commercial">
          License Agreement
        </a>
      </div>
    </div>
    <div class="rounded-lg shadow-lg dark:bg-gray-950 border-2 border-primary" style="margin-top:0;border-color: var(--sl-color-accent);">
      <div class="p-6 border-b border-gray-200 dark:border-gray-800" style="border-color: var(--sl-color-accent);border-bottom-width:0;padding-bottom: 0.4em">
        <h3 class="text-2xl font-bold">Professional <span class="text-4xl font-bold float-right">$76</span></h3>
        <div class="flex items-baseline my-4 justify-center subline" style="z-index: 100;">
          <span class="rounded-full font-bold" style="white-space: nowrap; background-color: var(--sl-color-accent); padding: 0 0.8em 0 1em;font-weight: 600;color: var(--sl-color-black);letter-spacing: 0.02em;">Most popular</span>
        </div>
        
        <ul class="space-y-2">
          <li>
            <Tick />
            Cross-Domain
          </li>
          <li>
            <Tick />
            For up to 8 developers
          </li>
          <li>
            <Tick />
            For up to 8 websites
          </li>
          <li>
            <Tick />
            Unlimited external iframes
          </li>
          <li>
            <Tick />
            Extended API
          </li>
          <li>
            <Tick />
            Basic Github support only
          </li>
          <li>
            <NoTick/>
            - 
          </li>
        </ul>
      </div>
      <div class="p-6" style="margin:0">
        <button onclick="window.buy('pro')" style="color: var(--sl-color-black)" class="buy buy-highlight inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary hover:bg-primary/90 h-10 px-4 py-2 w-full">
          Buy
        </button>
        <a class="license block text-center text-sm mt-2 underline" href="/commercial">
          License Agreement
        </a>
      </div>
    </div>
    <div class="rounded-lg shadow-lg dark:bg-gray-950 border-2 border-primary" style="margin-top:0;border-color: var(--sl-color-gray-5)">
      <div class="p-6 border-b  dark:border-gray-800"  style="border-color: var(--sl-color-gray-5);border-bottom-width:0;padding-bottom: 0.4em">
        <h3 class="text-2xl font-bold">Business <span class="text-4xl font-bold float-right">$486</span></h3>
        <div class="flex items-baseline my-4 subline">
          <span class="rounded-full font-bold">&nbsp;</span>
        </div>
        <ul class="space-y-2">
          <li>
            <Tick />
            Multi-domain
          </li>
          <li>
            <Tick />
            Unlimited developers
          </li>
          <li>
            <Tick />
            Unlimited websites
          </li>
          <li>
            <Tick />
            Unlimited external iframes
          </li>
          <li>
            <Tick />
            Extended API
          </li>
          <li>
            <Tick />
            Premium support
          </li>
          <li>
            <Tick />
            Mobile Applications
          </li>
        </ul>
      </div>
      <div class="p-6" style="margin:0">
        <button onclick="window.buy('business')" style="color: var(--sl-color-black)" class="buy inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary hover:bg-primary/90 h-10 px-4 py-2 w-full">
          Buy
        </button>
        <a class="license block text-center text-sm mt-2 underline" href="/commercial">
          License Agreement
        </a>
      </div>
    </div>
  </div>


  <div class="text-center italic" style="margin: 3ex 0 0;">
    The above licenses are a one time purchase, and include free updates for the lifetime of version 5.
  </div>


  <style>

    #moreLicenses {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 5ex 0 0;
    }
    #moreLicenses div {
      display: inline-block;
      width: 40%;
      margin: 0 ;
      vertical-align: top;
      text-align: center;
      font-size: .98rem;
    }

    #moreLicenses div:first-child {
      margin: 0 6% 0 0;
    }


    #moreLicenses h2 {
      margin: 1ex 0;
    }

  </style>


  <section id="moreLicenses">
    <div>
      <h2>OEM License</h2>
      <p>
        If you want to include <i>iframe-resizer</i> in downloadable or installable products such as 
        Themes, Component Libraries, as part of a commercial interface builder, SDK, or toolkit, 
        choose the Commercial OEM license. Commercial OEM licenses are customized for each customer.
      </p>
      <p>
        <Contact/>
      </p>
    </div>
    <div>
      <h2>Free for Open Source</h2>
      <p>
        <i>iframe-resizer</i> is an Open Source application licensed under a 
        <a href="/gpl">GPL&nbsp;v3 license</a>. 
        This license allows you to use <i>iframe-resizer</i> in Open Source projects but it requires your 
        project and source code be publicly published, include attribution, and be licensed under GPL&nbsp;v3. 
      </p><p>
        Questions? Read the 
        <a 
          href="https://www.gnu.org/licenses/gpl-faq.html#GPLRequireSourcePostedPublic" 
          target="_blank" 
          rel="nofollow" 
        >
          GPL FAQ 
        </a><!-- Icon name="external" / -->
      </p>
    </div>
  </section>




  <h2 class="text-center" style="margin-top: 4ex">Compare Licenses</h2>

  <style>
    sup {
      position: relative;
      top: 1ex;
    }

    #compare {
      display: table;
      width: 100%;
      margin-top: 4ex;
    }
 

    #compare th {
      border: 0 transparent none;
      padding: 8px 16px;
      text-align: center;
    }

    #compare td {
      border: 0 transparent none;
      padding: 8px 16px;
      text-align: center;
    }
    
    #compare tbody th {
      padding-left: 24px;
      text-align: left;
    }

    #compare tr:nth-child(even) {
      background-color: var( --sl-color-bg-nav);
    }

    #compare tr:hover {
      background-color: #f1f1f1;
    }
  </style>


  <table id="compare" style="width:100%">
    <thead>
      <tr>
        <td></td>
        <th>Open Source</th>
        <th>Solo</th>
        <th>Professional</th>
        <th>Business</th>
        <th>OEM</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>License Type</th>
        <td>GPL v3</td>
        <td>Commercial</td>
        <td>Commercial</td>
        <td>Commercial</td>
        <td>OEM</td>
      </tr>
      <tr>
        <th>Number of Developers</th>
        <td>Unlimited</td>
        <td>1 developer</td>
        <td>8 developers</td>
        <td>Unlimited</td>
        <td>Unlimited</td>
      </tr>
      <tr>
        <th>Number of Domains</th>
        <td>Unlimited</td>
        <td>1 website with<br /> local iframes</td>
        <td>8 websites and<br/>unlimited external iframes</td>
        <td>Unlimited</td>
        <td>Unlimited</td>
      </tr>
      <tr>
        <th>Extended API</th>
        <td><Tick/></td>
        <td>―</td>
        <td><Tick/></td>
        <td><Tick/></td>
        <td><Tick/></td>
      </tr>
      <tr>
        <th>Fix in pages linking</th>
        <td><Tick/></td>
        <td>―</td>
        <td><Tick/></td>
        <td><Tick/></td>
        <td><Tick/></td>
      </tr>
      <tr>
        <th>Premium support</th>
        <td>―</td>
        <td>―</td>
        <td>―</td>
        <td><Tick/></td>
        <td><Tick/></td>
      </tr>
      <tr>
        <th>Mobile applications</th>
        <td><Tick/></td>
        <td>―</td>
        <td>―</td>
        <td><Tick/></td>
        <td><Tick/></td>
      </tr>
      <tr>
        <th>Downloadabl software</th>
        <td><Tick/></td>
        <td>―</td>
        <td>―</td>
        <td>―</td>
        <td><Contact/></td>
      </tr>
      <tr>
        <th>Distrobution rights (Saas / OEM)</th>
        <td><Tick/></td>
        <td>―</td>
        <td>―</td>
        <td>―</td>
        <td><Contact/></td>
      </tr>
      <tr>
        <th>Intranet</th>
        <td>―</td>
        <td>―</td>
        <td>―</td>
        <td>―</td>
        <td><Contact/></td>
      </tr>
    </tbody>
  </table>

<div class="text-center italic" style="margin:2ex 0 0;">
  Questions? See the <a href="#faq">FAQ</a> or <Contact/>. 
</div>



  <style>

    #feedback {
      margin-top: 7ex;
    }

    #feedback h2 {
      margin: 5ex auto 0;
      text-align: center;
    }

    #feedback h3 {
      margin: 0;
      font-size: .1rem !important;
      font-family: var(--font-inter), sans-serif;
    }

    
  </style>

  <section id="feedback">
    <h2 class="text-3xl font-bold  sm:text-4xl md:text-5xl">Feedback on iframe-resizer</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 p-4 md:p-6">
      <Feedback inital="JS" name="Johan Stuyts">Improved the user experience a lot. Very happy with it.</Feedback>
      <Feedback inital="J" name="Jason">Epic library for a critical website need! Thanks for making this available!</Feedback>
      <Feedback inital="WL" name="Warpstream Labs" contact="@warpstreamlabs">Saved me a ton of time fiddling with iframe resizing, thank you.</Feedback>
      <Feedback inital="J" name="Jack">Thank you for all your hard work! I was asked to embed a site I'd created into someone else's Wordpress site and this made it possible.</Feedback>
      <Feedback inital="DM" name="Darvin Martin">iframe-resizer library was super-helpful! And the documentation was easy enough for a beginner like myself. Thank you!</Feedback>
      <Feedback inital="A" name="A Hueller">Your great iframe resizer "toolkit" saved my day already several times & always worked perfectly with just a few lines of code. Keep up the good work!</Feedback>
      <Feedback inital="CB" name="claw_slaw_bibbly_bop">I rolled my own for some of these features before I came across your lib. Thanks for your work. </Feedback>
      <Feedback inital="AP" name="Adam Pitzele">After finding this project and verifying how well it works, it really made my day. Much appreciated!</Feedback>
      <Feedback inital="LM" name="Laurence Martinier">Nasty problem to solve, your solution took 5 minutes to implement, zero pain. Much love.</Feedback>
      <Feedback inital="JR" name="J Rockowitz">You made it easy for me to share Drupal Webforms on any website, webpage, or application. Thanks.</Feedback>
      <Feedback inital="M" name="Maureen">Great work. Have been using this for years always with success!</Feedback>
      <Feedback inital="D" name="Dark">Needed last minute resizing, your lib and instructions did the trick.</Feedback>
    </div>
  </section>

  <style>
    #faq {
      margin-top: 7ex;
    }

    #faq h3 {
      margin: 5ex auto 0;
      text-align: center;
    }

    #faq p {
      margin: 0 0 .5rem;
    }

    #faq a {
      font-weight: 600;
    }
    
  </style>

  <section id="faq">
    <div class="mt-16 space-y-2 text-center" style="margin-top: 4rem">
      <h2 class="text-3xl font-bold sm:text-4xl md:text-5xl">Frequently Asked Questions</h2>
      <p class="sub-heading " style="margin: 0 0 2rem;font-weight:600">Answers to the most common questions about licensing</p>
    </div>
    <Faq question="Can I try iframe-resizer before buying it?">
      <p>
        Yes! You're welcome to try the library using the open source version. 
        You will need to buy a license if you want to use it in a commercial project.
      </p>
      <p>
        See the <a href="/setup">Getting Started</a> guide for more information.
      </p>
    </Faq>
    <Faq question="Is it a one-time payment?">
      <p>
        The Solo, Professional and Business licenses are a one-time payment and include future updates
        to version 5.
      </p>
      <p>
        If you want to include <i>iframe-resizer</i> in downloadable or installable products like Wordpress themes, 
        HTML templates, as part of a commercial interface builder, SDK, or toolkit, you'll need a Commercial OEM 
        license. Commercial OEM licenses are customized for each customer. <Contact/> if you need this license.
      </p>
    </Faq>
    <Faq question="Can I use iframe-resizer to build commercial products?">
      <p>
        Yes. You can use the Commercial licenses available at the top of this page, for use in non open sourced
        projects that are not compatable with the GPL v3 license.
      </p>
    </Faq>
    <Faq question="What counts as a Domain?">
      <p>
        A Domain is a single <a href="https://developer.mozilla.org/en-US/docs/Glossary/Origin">Origin</a>,
        which is defined by the scheme (protocol), hostname (domain), and port of the URL used to access it. 
        Two pages have the same origin only when the scheme, hostname, and port all match.
      </p>
    </Faq>
    <Faq question="Can I use iframe-resizer to create a widget to place on other websites?">
      <p>
        Yes, you can use the Business license to create widgets that can be embedded on other websites.
      </p>
    </Faq>
    <Faq question="Can I use iframe-resizer in a component library?">
      <p>Yes, but you need to leave the license field unset and allow the end user to add their own license key</p>
    </Faq>
    <!-- Faq question="Is the payment secure?">
      <p></p>
    </Faq -->
    <Faq question="Is support included in the license?">
      <p>
        The Business license includes premium support and is provided via priority email/phone/zoom for setup
        and integration questions.
      </p>
      <p>
        The Solo and Professional licenses only include standard support via
        <a href="https://github.com/davidjbradshaw/iframe-resizer/issues" target="blank">Github Issues</a>.
      </p>
    </Faq>
    <Faq question="Can I use the license for multiple projects?">
      <p>
        The Business license allows you to use the library in an unlimited number of websites and mobile apps.
      </p>
    </Faq>
    <Faq question="Can I be refunded?">
      <p>
        Refunds are not currently available. Please try the open source version before purchasing a license.
      </p>
    </Faq>
    <Faq question="Can I upgrade from one license to another?">
      <p>
        Absolutely! You can upgrade from one license to another. Please buy the upgraded license and then 
        <Contact/> with your original order number and we will refund the original purchase.
      </p>
    </Faq>
    <!--Faq question="How can I get an invoice for my purchase?">
      <p></p>
    </Faq-->
  </section>

</StarlightPage>

<Footer />
