---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import Tick from '../components/Tick.astro';
import NoTick from '../components/NoTick.astro';
import Contact from '../components/Contact.astro';
import Feedback from '../components/Feedback.astro';
import Footer from '../components/Footer.astro';

const title = 'Pricing for iframe-resizer';
const template = 'splash';
---

<StarlightPage frontmatter={{ title, template }}  hasSidebar={false}>

  <div class="text-center" style="font-weight:600;font-size:1.2rem;margin: -2ex 0 3ex;color:#985d3b">Find the right license for your project</div>

  <div id="priceGrid" class="grid grid-cols-1 md:grid-cols-3 gap-6 max-w-6xl mx-auto px-4">
    <div class="rounded-lg shadow-lg dark:bg-gray-950 border-2 border-primary" style="">
      <div class="p-6 border-b border-gray-200 dark:border-gray-800">
        <h3 class="text-2xl font-bold">Basic</h3>
        <div class="flex items-baseline my-4">
          <span class="text-4xl font-bold">$36</span>
        </div>
        <ul class="space-y-2">
          <li>
            <Tick />
            Same Domain
          </li>
          <li>
            <Tick />
            For 1 developer
          </li>
          <li>
            <Tick />
            For 1 website
          </li>
          <li>
            <Tick />
            Basic Github support only
          </li>
          <li>
            <NoTick/>
            <sup>__</sup> 
          </li>
          <li>
            <NoTick/>
            <sup>__</sup> 
          </li>
        </ul>
      </div>
      <div class="p-6" style="margin:0">
        <button class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 w-full">
          Buy Now
        </button>
        <a style="font-weight:600" class="block text-center text-sm mt-2 underline" href="/commercial">
          License Agreement
        </a>
      </div>
    </div>
    <div class="rounded-lg shadow-lg dark:bg-gray-950 border-2 border-primary" style="margin-top:0;border-color: var(--sl-color-accent);">
      <div class="p-6 border-b border-gray-200 dark:border-gray-800">
        <h3 class="text-2xl font-bold">Professional</h3>
        <div class="flex items-baseline my-4">
          <span class="text-4xl font-bold">$96</span>
        </div>
        
        <ul class="space-y-2">
          <li>
            <Tick />
            Cross-Domain
          </li>
          <li>
            <Tick />
            For up to 8 developers
          </li>
          <li>
            <Tick />
            For 1 website
          </li>
          <li>
            <Tick />
            Extended API
          </li>
          <li>
            <Tick />
            Basic Github support only
          </li>
          <li>
            <NoTick/>
            <sup>__</sup> 
          </li>
        </ul>
      </div>
      <div class="p-6" style="margin:0">
        <button class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 w-full">
          Buy Now
        </button>
        <a style="font-weight:600" class="block text-center text-sm mt-2 underline" href="/commercial">
          License Agreement
        </a>
      </div>
    </div>
    <div class="rounded-lg shadow-lg dark:bg-gray-950 border-2 border-primary" style="margin-top:0;">
      <div class="p-6 border-b border-gray-200 dark:border-gray-800">
        <h3 class="text-2xl font-bold">Business</h3>
        <div class="flex items-baseline my-4">
          <span class="text-4xl font-bold">$486</span>
        </div>
        <ul class="space-y-2">
          <li>
            <Tick />
            Multi-domain
          </li>
          <li>
            <Tick />
            Unlimited developers
          </li>
          <li>
            <Tick />
            Unlimited websites
          </li>
          <li>
            <Tick />
            Extended API
          </li>
          <li>
            <Tick />
            Premium support
          </li>
          <li>
            <Tick />
            Mobile Applications
          </li>
        </ul>
      </div>
      <div class="p-6" style="margin:0">
        <button class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 w-full">
          Buy Now
        </button>
        <a style="font-weight:600" class="block text-center text-sm mt-2 underline" href="/commercial">
          License Agreement
        </a>
      </div>
    </div>
  </div>


  <div class="text-center italic" style="margin:3ex;">All licenses are a one time purchase, and include free updates for the lifetime of version 5. </div>


  <h2  class="text-center">Compare Licenses</h2>

  <style>
    sup {
      position: relative;
      top: 1ex;
    }

    #compare {
      display: table;
      width: 100%;
      margin-top: 4ex;
    }
 

    #compare th {
      border: 0 transparent none;
      padding: 8px 16px;
      text-align: center;
    }

    #compare td {
      border: 0 transparent none;
      padding: 8px 16px;
      text-align: center;
    }
    
    #compare tbody th {
      padding-left: 24px;
      text-align: left;
    }

    #compare tr:nth-child(even) {
      background-color: var( --sl-color-bg-nav);
    }

    #compare tr:hover {
      background-color: #f1f1f1;
    }
  </style>


  <table id="compare" style="width:100%">
    <thead>
      <tr>
        <td></td>
        <th>Open Source</th>
        <th>Basic</th>
        <th>Professional</th>
        <th>Business</th>
        <th>OEM</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>License Type</th>
        <td>GPL v3</td>
        <td>Commercial</td>
        <td>Commercial</td>
        <td>Commercial</td>
        <td>OEM</td>
      </tr>
      <tr>
        <th>Number of Developers</th>
        <td>Unlimited</td>
        <td>1 developer</td>
        <td>8 developers</td>
        <td>Unlimited</td>
        <td>Unlimited</td>
      </tr>
      <tr>
        <th>Number of Domains</th>
        <td>Unlimited</td>
        <td>1 website with<br /> local iframes</td>
        <td>1 website with unlimited<br /> external iframes</td>
        <td>Unlimited</td>
        <td>Unlimited</td>
      </tr>
      <tr>
        <th>Premium support</th>
        <td>―</td>
        <td>―</td>
        <td>―</td>
        <td><Tick/></td>
        <td><Tick/></td>
      </tr>
      <tr>
        <th>Mobile applications</th>
        <td><Tick/></td>
        <td>―</td>
        <td>―</td>
        <td><Tick/></td>
        <td><Tick/></td>
      </tr>
      <tr>
        <th>Downloadabl software</th>
        <td><Tick/></td>
        <td>―</td>
        <td>―</td>
        <td>―</td>
        <td><Contact/></td>
      </tr>
      <tr>
        <th>Distrobution rights (Saas / OEM)</th>
        <td><Tick/></td>
        <td>―</td>
        <td>―</td>
        <td>―</td>
        <td><Contact/></td>
      </tr>
      <tr>
        <th>Intranet</th>
        <td>―</td>
        <td>―</td>
        <td>―</td>
        <td>―</td>
        <td><Contact/></td>
      </tr>
    </tbody>
  </table>

  <style>

    #moreLicenses {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 7ex;
    }
    #moreLicenses div {
      display: inline-block;
      width: 40%;
      margin: 0 ;
      vertical-align: top;
      text-align: center;
      font-size: .98rem;
    }

    #moreLicenses div:first-child {
      margin: 0 6% 0 0;
    }


    #moreLicenses h2 {
      margin: 1ex 0;
    }

  </style>


  <section id="moreLicenses">
    <div>
      <h2>SaaS/OEM License</h2>
      <p>
        If you want to include <i>iframe-resizer</i> in downloadable or installable products such as 
        Themes, Component Libraries, as part of a commercial interface builder, SDK, or toolkit, 
        choose the Commercial OEM license. Commercial OEM licenses are customized for each customer.
      </p>
      <p>
        <Contact/>.
      </p>
    </div>
    <div>
      <h2>Free for Open Source</h2>
      <p>
        <i>iframe-resizer</i> is an Open Source application licensed under a 
        <a href="https://www.gnu.org/licenses/gpl-3.0.html" target="_blank" rel="nofollow">GPLv3 license</a>. 
        This license allows you to use <i>iframe-resizer</i> in Open Source projects but it requires your 
        project to be public, provide attribution and be licensed under GPLv3. 
      </p><p>
        Questions? Read the 
        <a href="https://www.gnu.org/licenses/gpl-faq.html#GPLRequireSourcePostedPublic" target="_blank" rel="nofollow">GPL FAQ</a>.
      </p>
    </div>
  </section>


  <style>

    #feedback {
      margin-top: 7ex;
    }

    #feedback h2 {
      margin: 5ex auto 0;
      text-align: center;
    }

    #feedback h3 {
      margin: 0;
      font-size: .1rem !important;
      font-family: var(--font-inter), sans-serif;
    }

    
  </style>

  <section id="feedback">
    <h2>Feedback on iframe-resizer</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 p-4 md:p-6">
      <Feedback inital="JS" name="Johan Stuyts">Improved the user experience a lot. Very happy with it.</Feedback>
      <Feedback inital="J" name="Jason">Epic library for a critical website need! Thanks for making this available!</Feedback>
      <Feedback inital="WL" name="Warpstream Labs" contact="@warpstreamlabs">Saved me a ton of time fiddling with iframe resizing, thank you.</Feedback>
      <Feedback inital="J" name="Jack">Thank you for all your hard work! I was asked to embed a site I'd created into someone else's Wordpress site and this made it possible.</Feedback>
      <Feedback inital="DM" name="Darvin Martin">iframe-resizer library was super-helpful! And the documentation was easy enough for a beginner like myself. Thank you!</Feedback>
      <Feedback inital="A" name="A Hueller">Your great iframe resizer "toolkit" saved my day already several times & always worked perfectly with just a few lines of code. Keep up the good work!</Feedback>
      <Feedback inital="CB" name="claw_slaw_bibbly_bop">I rolled my own for some of these features before I came across your lib. Thanks for your work. </Feedback>
      <Feedback inital="AP" name="Adam Pitzele">After finding this project and verifying how well it works, it really made my day. Much appreciated!</Feedback>
      <Feedback inital="LM" name="Laurence Martinier">Nasty problem to solve, your solution took 5 minutes to implement, zero pain. Much love.</Feedback>
      <Feedback inital="JR" name="J Rockowitz">You made it easy for me to share Drupal Webforms on any website, webpage, or application. Thanks.</Feedback>
      <Feedback inital="M" name="Maureen">Great work. Have been using this for years always with success!</Feedback>
      <Feedback inital="D" name="Dark">Needed last minute resizing, your lib and instructions did the trick.</Feedback>
    </div>
  </section>


</StarlightPage>

<Footer />
