---
import type { HTMLAttributes } from 'astro/types'
// import Icon from '../user-components/Icon.astro';
// import type { Icons } from './Icons';
import { Icon } from '@astrojs/starlight/components'

interface Props {
	variant: 'primary' | 'secondary' | 'minimal'
	icon: object
	link: object
	// icon?: undefined | { type: 'icon'; name: keyof typeof Icons } | { type: 'raw'; html: string };
	attrs?: Omit<HTMLAttributes<'a'>, 'href'>
}

const { link, variant, icon } = Astro.props
const { class: customClass, ...attrs } = Astro.props.attrs || {}
---

<a class:list={['sl-flex action', variant, customClass]} href={link} {...attrs}>
	<slot />
	{icon?.type === 'icon' && <Icon name={icon.name} size='1rem' />}
	{icon?.type === 'raw' && <Fragment set:html={icon.html} />}
</a>

<style>
	.action {
		gap: 0.5em;
		align-items: center;
		border-radius: 999rem;
		padding: 0.8rem 1.25rem 0.85rem 1.35rem;
		color: var(--sl-color-white);
		line-height: 1.1875;
		text-decoration: none;
		font-size: var(--sl-text-sm);
		display: inline-block;
		font-weight: 800;
		font-size: 1.1rem;
	}
	.action.primary {
		background: var(--sl-color-text-accent);
		color: var(--sl-color-black);
	}
	.action.primary:hover {
		color: var(--sl-color-black);
	}
	.action.secondary {
		border: 1px solid;
	}
	.action.minimal,
	.action.topbar {
		padding-inline: 0;
	}

	.action.topbar {
		color: var(--sl-color-text-accent);
		/* font-size: var(--sl-text-sm); */
		font-weight: 600;
		padding-bottom: 0.15rem;
		margin-bottom: 0.7rem
	}

	.action.action.topbar:hover {
		border-bottom: solid 2px var(--sl-color-text-accent);
		border-radius: 0;
		margin-bottom: calc(0.7rem - 2px);
	}

	@media (min-width: 50rem) {
		.action {
			font-size: var(--sl-text-base);
			padding: 0.9rem 1.25rem 0.95rem 1.35rem;
		}
	}

	.action svg {
		vertical-align: middle;
		float: right;
		margin: 1px 0 0 0.75ex;
	}
</style>
