---
import type { Props } from '@astrojs/starlight/props';
const { class: customClass } = Astro.props || {}
---
<a href="mailto:info@iframe-resizer.com" class={customClass} style="white-space: nowrap;">Contact Us</a>
