---
import { Aside } from "@astrojs/starlight/components"
import { Code } from 'astro-expressive-code/components'
export interface Props {
	example: boolean;
}

const props = Astro.props;
---
<Aside title="Commercial licence" >
  To use <i>iframe-resizer</i> in a closed source website or application, you need to
  purchase a one time license key. See the <b><a href="/pricing">pricing</a></b> page for
  details.
</Aside>

<Aside type="tip" title="Open source licence" >
  For non-comercial open source projects, <i>iframe-resizer</i> is free to use under the Gnu Public License. 
  To confirm that you are using it in a compatable project set the license to <b>GPLv3</b>.
 {(props.example === true) && 
  <Code code="iframeResize({ license: 'GPLv3' })" lang="js" />}
</Aside>
