---
import { Aside } from "@astrojs/starlight/components"
import { Code } from 'astro-expressive-code/components'
---
<Aside title="Commercial licence" >
  To use <i>iframe-resizer</i> in a closed source website or application, you need to
  purchase a one time license key. See the <b><a href="/pricing">pricing</a></b> page for
  details.
</Aside>

<Aside type="tip" title="Open source licence" >
  For open source projects, <i>iframe-resizer</i> is free to use under the Gnu Public License. 
  To confirm that you are using it in an open-souce project set the license option to <b>GPL-V3</b>.

  <Code code="{iframeResize({ license: 'GPL-V3' })" lang="js" />
</Aside>
