---
import type { Props } from '@astrojs/starlight/props';
import CallToAction from './CallToAction.astro';

import Default from '@astrojs/starlight/components/SocialIcons.astro';
---
<span style="margin-top: 0.2rem;font-weight: 400;">
	<CallToAction
		link="../pricing"
		className="ir-cta"
		variant="minimal"
	>Pricing</CallToAction>
</span>
<Default {...Astro.props}><slot /></Default>
