---
import JS from '../../components/js-child.astro'
---


<style>
  .frame {
    border: 3px inset;
    height: 200px !important;
    padding: 0 20px;
  }

  body {
    margin:0;
    font-family: Roboto, sans-serif;
    font-weight: lighter;
  }
    
  p {
    margin: 0 0 5px;
  }

  th {
    vertical-align: top;
    text-align: right;
    padding: 5px 0;
  }
  td {
    padding: 3px 0;
  }
  tr {
    border-top: dashed 1px #900;
  }

  table table th {
    width: 110px;
    padding: 0;
  }
  table table td {
    padding: 0 0 0 10px;
  }

  #bar {
    height: 20px;
    width: 400px;
    background-color: rgb(135, 248, 180);
    padding: 0;
    z-index: -2;
    margin-right: 2px;
  }

  #abs {
    position: absolute;
    padding: 0px;
    margin-right:2px;
    height: 140px;
    align-content: center;
    vertical-align: middle;
    background-color: wheat;
    animation-direction: alternate;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-name: animate;
    z-index: -1;
  }

  #abs p {
    margin: -10px 0 0 20px;
    width: 300px;
  }

  #bar,
  #abs {
    margin-left: -20px;
  }

  @keyframes animate {
    from {
      width: 310px;
    }

    to {
      width: 722px;
    }
  }
</style>

<!-- 
  The data-iframe-size attribute tells iframe-resizer to use this element
  to calculate the height of the iframe, when the content overflows the
  <body> element.     
-->
<div class="frame">
  <div data-iframe-size id="bar"></div>

  <div data-iframe-size id="abs">
    <p>
      This element animates between 310px and 720px wide using CSS keyframes.
      <br/><br/>
      The iframe width is capped to 100% of the containing element width.

    </p>
  </div>
</div>
<JS/>
