---
import JS from '../../components/js-child.astro'
---


<style>
  body {
    margin:14px 10px;
    font-family: Roboto, sans-serif;
    font-weight: lighter;
  }
    
  p {
    margin: 0 0 5px;
  }

  th {
    vertical-align: top;
    text-align: right;
    padding: 5px 0;
  }
  td {
    padding: 3px 0;
  }
  tr {
    border-top: dashed 1px #900;
  }

  table table th {
    width: 110px;
    padding: 0;
  }
  table table td {
    padding: 0 0 0 10px;
  }

  #bar {
    height: 20px;
    width: 402px;
    background-color: rgb(135, 248, 180);
    margin: 0;
    padding: 0;
  }

  #abs {
    position: absolute;
    padding: 0px;
    height: 140px;
    align-content: center;
    vertical-align: middle;
    background-color: wheat;
    animation-direction: alternate;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-name: animate;
    z-index: 6;
  }

  #abs p {
    margin: -10px 0 0 20px;
    width: 300px;
  }

  #bar,
  #abs {
    margin-left: -20px;
  }

  @keyframes animate {
    from {
      width: 200px;
    }

    to {
      width: 722px;
    }
  }
</style>

<!-- 
  The data-iframe-size attribute tells iframe-resizer to use this element
  to calculate the height of the iframe, when the content overflows the
  <body> element.     
-->

<div data-iframe-size id="bar"></div>

<div data-iframe-size id="abs">
  <p>This element animates to a width of 720px using CSS keyframes.</p>
</div>

<JS/>
